body{
    background-color: black;
}
h1{
    color: aliceblue;
    text-align: center;
    font-size: 3rem;
}
h2{
    color: lightgreen;
    text-align: center;
}
.img-motivation{
    border: 5px solid yellow;
    width: 100%;
}
.poster{
 width: 50%;
 margin-top: 100px;
margin-left: 25%;
text-align: center;
font-family: "Libre Baskerville", serif;

}
.dream{
color: blue;
text-transform: uppercase;
font-size: 4rem;
font-family: "Libre Baskerville", serif;
font-family: "BBH Bartle", sans-serif;
font-family: "Rubik Gemstones", system-ui;
}
